Brotli @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/brotli-split_1699238731048/work
certifi @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/certifi_1701809142774/work/certifi
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_44mvycfmuf/croot/cffi_1700254431144/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_85yzbl_qze/croot/cryptography_1702070288916/work
idna @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/idna_1699239456905/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pyopenssl_1699246895832/work
PySocks @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pysocks_1699239289103/work
requests @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/requests_1699240282740/work
setuptools==68.2.2
urllib3 @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/urllib3_1699239673180/work
wheel==0.41.2
